@CHARSET "UTF-8";

body {
	color: #756c63;
}

#sidebar,
#sidebar > hr,
#single_user, #department-detail,
.om-container,
.question_box,.module_box {
	border-color: #d30013;
}

a,
ul.filter li,
ul.filter-button.nav.nav-pills > li > a:hover, ul.filter-button.nav.nav-pills > li > a:focus, ul.filter-button.nav.nav-pills > li > a.active {
	color: #d30013;
}

a:hover,a:active,a:focus,.title-page small > a.active,
ul.filter li:hover,ul.filter li:focus {
	color: #756c63;
}

ul.filter>li.active,
#content_message,
.question_box h5,.module_box h5,
#sidebar .nav-pills > li > a {
	background-color: #d30013;
}

#sidebar .nav-pills > li > a:hover, .nav-pills > li > a:focus, #sidebar .nav-pills > li > a.active, 
#sidebar .nav-pills > .active > a, #sidebar .nav-pills > .active > a:hover, #sidebar .nav-pills > .active > a:focus,.nav-pills > .active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
	background-color: #756c63;
}

.step-pills > li.current > a,
.step-pills > li > a:hover,
.step-pills > li > a:focus {
    border-color: #d30013;
    background-color: #d30013;
}

.step-pills > li > a.sub-step {
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    border: inherit;
    border-radius: inherit;
    min-width: 0;
    margin: inherit;
    color: #ccc;
    background-color: #fff;
    text-decoration: none;
}

.step-pills > li.current > a.sub-step{
    color: #d30013;
}

.step-pills > li.current > a.sub-step:hover,
.step-pills > li.current > a.sub-step:focus {
    color: #756c63;
    text-decoration: underline;
}